.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    width: 100%;
    box-sizing: border-box;
}


.footer-content-wrapper {
    max-width: 100%; 
    margin: 0 auto; 
    padding: 0 20px; 
    height: 100%;
    overflow-y: auto;
}

.separator {
    margin: 0 8px;
    color: #cccccc;
}

.footer-link {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-link:hover {
    color: #555555; 
    text-decoration: underline;
}

.copyright-text {
    margin-bottom: 5px;
}

.legal-links {
    display: inline-block;
}