header {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between; 
  width: 100%; 
}


h1 {
  font-size: 20px;
  margin: 0; 
}

nav > div:first-child {
    margin-right: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 2px solid red;
  padding: 5px;
  box-sizing: border-box;
}